/* 
    Document   : style
    Created on : May 28, 2017, 3:38:34 PM
    Author     : doofaz
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}
.clientarea{
  text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    /*border: 1px solid red;*/
}
.clientarea img{
    height: 180px;
    width: 100%;
}
.payaligning{
    /*height: 180px;*/
    margin-top: 5px;
    /*background: blue;*/
}
.payaligning img{
    /*height: 180px;*/
    width: 100%;
}
/*----OLiullah--homepage sucategoriy title--*/
.subcategory-title{
  line-height: 40px;
  background: #2e3092;
  /*background: #A8A8A8;*/
  height: 40px;
  
}
.subcategory-title h4{
 line-height:40px;
 color: white;
 margin: 0px;
}
.third-categoryarea{
 /*min-height: 400px;*/
 background:#fff;
 
}

.third-category-title{
 line-height: 40px;
 background:#2e3092;
 min-height: 40px;
 
}
.third-category-title h4{
 line-height:40px;
 color: white;
 margin: 0;
 text-decoration: none;
 font-size: 15px;
}


.third-category{
  height: auto;
  background: #A8A8A8;
  overflow: hidden; 
}
.third-category ul{
   list-style: none;
   padding:0px 0px;
}
.third-category ul li{
    width: 100%;
    height: 40px;
    line-height: 40px;
    /*border-bottom: 1px dashed gray;*/
    float: left;

    left: 0px!important;
    
}
.third-category-list a{
  text-decoration: none;
  color: #2e3092;
  font-size: 15px;
  display: block;
  padding: 3px 5px;
  cursor: pointer;
  font-weight: bold;
  border-top: 1px solid transparent;
  border-bottom: 1px solid #c5e4c5;
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
}
.third-category-list a:hover{
 background:#2e3092;
 border-top:1px solid #fff;
 border-bottom:1px solid transparent;
 color: white;
 text-decoration: none;
 /*transition: 1s all;*/
}
/*---product details----*/
.details-bottom-page{
  min-height: 400px!important;
  background: #eee;
}
/*-----------features--------*/
.header-title{
    height: 40px;
    /*background: #2e3092;*/
    /*border-bottom: 1px dashed gray;*/
}
.header-title h3{
    color: #2e3092;
    line-height: 50px;
}
.features-area{
    min-height: 400px;
    background: #fffff;
}
.features-head h3{
    color: white;
    line-height: 50px;
    color: #2e3092;
    font-size: 20px;
}
.features-head{
    height: 40px;
    /*background: #2e3092;*/
    /*border-bottom: 1px dashed gray;*/
}
.feature-page p{
    text-align: right;
    line-height: 60px;
    color: white;
}

.feature-description{
    min-height: 300px;
   
}

.support-description{
   min-height: 500px;
   background: white;
   margin-bottom: 100px;
}
.tap-head{
    height:50px;
    /*background: #bdc3c5;*/
    margin-top: 20px;
}
.support-connect{
    min-height: 300px;
    margin-top: 10px;
    /*background: slategray;*/
   
}
.tap-image-area{
    height: 220px;
    /*background: pink;*/
}
.tap-image-area img{
    height: 220px;
}
.tapone{
    min-height: 150px;
}
.tapone p{
   text-align: justify;
}
.tap-profile{
    min-height: 450px;
    /*background: #dcc;*/
}
.feature-description-one{
    height: 400px;
    background: yellow;
}


/*nazmul huda*/

.right_menu p a{
    text-decoration: none;
    color: #e74710;
}
.right_menu p:hover{
  background: #ddd;
  color: white;
  }


/*------------login-page- start--------*/
body {
    /*padding-top: 90px;*/
}
.panel-login {
  border-color: #ccc;
  -webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
  box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
}
.panel-login>.panel-heading {
  color: #00415d;
  background-color: #fff;
  border-color: #fff;
  text-align:center;
}
.panel-login>.panel-heading a{
  text-decoration: none;
  color: #666;
  font-weight: bold;
  font-size: 15px;
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  transition: all 0.1s linear;
}
.panel-login>.panel-heading a.active{
  color: #029f5b;
  font-size: 18px;
}
.panel-login>.panel-heading hr{
  margin-top: 10px;
  margin-bottom: 0px;
  clear: both;
  border: 0;
  height: 1px;
  background-image: -webkit-linear-gradient(left,rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.15),rgba(0, 0, 0, 0));
  background-image: -moz-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
  background-image: -ms-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
  background-image: -o-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
}
.panel-login input[type="text"],.panel-login input[type="email"],.panel-login input[type="password"] {
  height: 45px;
  border: 1px solid #ddd;
  font-size: 16px;
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  transition: all 0.1s linear;
}
.panel-login input:hover,
.panel-login input:focus {
  outline:none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border-color: #ccc;
}
.btn-login {
  background-color: #59B2E0;
  outline: none;
  color: #fff;
  font-size: 14px;
  height: auto;
  font-weight: normal;
  padding: 14px 0;
  text-transform: uppercase;
  border-color: #59B2E6;
}
.btn-login:hover,
.btn-login:focus {
  color: #fff;
  background-color: #53A3CD;
  border-color: #53A3CD;
}
.forgot-password {
  text-decoration: underline;
  color: #888;
}
.forgot-password:hover,
.forgot-password:focus {
  text-decoration: underline;
  color: #666;
}

.btn-register {
  background-color: #1CB94E;
  outline: none;
  color: #fff;
  font-size: 14px;
  height: auto;
  font-weight: normal;
  padding: 14px 0;
  text-transform: uppercase;
  border-color: #1CB94A;
}
.btn-register:hover,
.btn-register:focus {
  color: #fff;
  background-color: #1CA347;
  border-color: #1CA347;
}
/*------------login end----------*/






/*social icon top*/

.social-nav {
    padding: 0;
    list-style: none;
    margin: -10px 0 0 -10px;
}
.social-nav li {
    float: left;
    margin: 10px 0 0 10px;
    list-style: none;
}
.social-nav a {
    display: inline-block;
    float: left;
    width: 28px;
    height: 28px;
    font-size: 15px;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    line-height: 28px;
    background: #000;
    position: relative;
    transition: all 0.5s;
    -ms-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
}
.social-nav a {
    overflow: hidden;
    font-size: 15px;
    border-radius: 4px;
}
.social-nav a:hover {
    background: #fff;
    text-shadow: 0px 0px #d4d4d4, 1px 1px #d4d4d4, 2px 2px #d4d4d4, 3px 3px #d4d4d4, 4px 4px #d4d4d4, 5px 5px #d4d4d4, 6px 6px #d4d4d4, 7px 7px #d4d4d4, 8px 8px #d4d4d4, 9px 9px #d4d4d4, 10px 10px #d4d4d4, 11px 11px #d4d4d4, 12px 12px #d4d4d4, 13px 13px #d4d4d4, 14px 14px #d4d4d4, 15px 15px #d4d4d4, 16px 16px #d4d4d4, 17px 17px #d4d4d4, 18px 18px #d4d4d4, 19px 19px #d4d4d4, 20px 20px #d4d4d4, 21px 21px #d4d4d4, 22px 22px #d4d4d4, 23px 23px #d4d4d4, 24px 24px #d4d4d4, 25px 25px #d4d4d4, 26px 26px #d4d4d4, 27px 27px #d4d4d4, 28px 28px #d4d4d4, 29px 29px #d4d4d4, 30px 30px #d4d4d4;
}
.social-nav .twitter {
    background: #00ACED;
    text-shadow: 0px 0px #0087ba, 1px 1px #0087ba, 2px 2px #0087ba, 3px 3px #0087ba, 4px 4px #0087ba, 5px 5px #0087ba, 6px 6px #0087ba, 7px 7px #0087ba, 8px 8px #0087ba, 9px 9px #0087ba, 10px 10px #0087ba, 11px 11px #0087ba, 12px 12px #0087ba, 13px 13px #0087ba, 14px 14px #0087ba, 15px 15px #0087ba, 16px 16px #0087ba, 17px 17px #0087ba, 18px 18px #0087ba, 19px 19px #0087ba, 20px 20px #0087ba, 21px 21px #0087ba, 22px 22px #0087ba, 23px 23px #0087ba, 24px 24px #0087ba, 25px 25px #0087ba, 26px 26px #0087ba, 27px 27px #0087ba, 28px 28px #0087ba, 29px 29px #0087ba, 30px 30px #0087ba;
}
.social-nav .twitter:hover {
    color: #00ACED;
}
.social-nav .facebook {
    background: #3B579D;
    text-shadow: 0px 0px #2d4278, 1px 1px #2d4278, 2px 2px #2d4278, 3px 3px #2d4278, 4px 4px #2d4278, 5px 5px #2d4278, 6px 6px #2d4278, 7px 7px #2d4278, 8px 8px #2d4278, 9px 9px #2d4278, 10px 10px #2d4278, 11px 11px #2d4278, 12px 12px #2d4278, 13px 13px #2d4278, 14px 14px #2d4278, 15px 15px #2d4278, 16px 16px #2d4278, 17px 17px #2d4278, 18px 18px #2d4278, 19px 19px #2d4278, 20px 20px #2d4278, 21px 21px #2d4278, 22px 22px #2d4278, 23px 23px #2d4278, 24px 24px #2d4278, 25px 25px #2d4278, 26px 26px #2d4278, 27px 27px #2d4278, 28px 28px #2d4278, 29px 29px #2d4278, 30px 30px #2d4278;
}
.social-nav .facebook:hover {
    color: #3B579D;
}
.social-nav .google {
    background: #DD4A3A;
    text-shadow: 0px 0px #c23122, 1px 1px #c23122, 2px 2px #c23122, 3px 3px #c23122, 4px 4px #c23122, 5px 5px #c23122, 6px 6px #c23122, 7px 7px #c23122, 8px 8px #c23122, 9px 9px #c23122, 10px 10px #c23122, 11px 11px #c23122, 12px 12px #c23122, 13px 13px #c23122, 14px 14px #c23122, 15px 15px #c23122, 16px 16px #c23122, 17px 17px #c23122, 18px 18px #c23122, 19px 19px #c23122, 20px 20px #c23122, 21px 21px #c23122, 22px 22px #c23122, 23px 23px #c23122, 24px 24px #c23122, 25px 25px #c23122, 26px 26px #c23122, 27px 27px #c23122, 28px 28px #c23122, 29px 29px #c23122, 30px 30px #c23122;
}
.social-nav .google:hover {
    color: #DD4A3A;
}
.social-nav .linkedin {
    background: #007BB6;
    text-shadow: 0px 0px #005983, 1px 1px #005983, 2px 2px #005983, 3px 3px #005983, 4px 4px #005983, 5px 5px #005983, 6px 6px #005983, 7px 7px #005983, 8px 8px #005983, 9px 9px #005983, 10px 10px #005983, 11px 11px #005983, 12px 12px #005983, 13px 13px #005983, 14px 14px #005983, 15px 15px #005983, 16px 16px #005983, 17px 17px #005983, 18px 18px #005983, 19px 19px #005983, 20px 20px #005983, 21px 21px #005983, 22px 22px #005983, 23px 23px #005983, 24px 24px #005983, 25px 25px #005983, 26px 26px #005983, 27px 27px #005983, 28px 28px #005983, 29px 29px #005983, 30px 30px #005983;
}
.social-nav .linkedin:hover {
    color: #007BB6;
}
.social-nav .pinterest {
    background: #CB2026;
    text-shadow: 0px 0px #9f191e, 1px 1px #9f191e, 2px 2px #9f191e, 3px 3px #9f191e, 4px 4px #9f191e, 5px 5px #9f191e, 6px 6px #9f191e, 7px 7px #9f191e, 8px 8px #9f191e, 9px 9px #9f191e, 10px 10px #9f191e, 11px 11px #9f191e, 12px 12px #9f191e, 13px 13px #9f191e, 14px 14px #9f191e, 15px 15px #9f191e, 16px 16px #9f191e, 17px 17px #9f191e, 18px 18px #9f191e, 19px 19px #9f191e, 20px 20px #9f191e, 21px 21px #9f191e, 22px 22px #9f191e, 23px 23px #9f191e, 24px 24px #9f191e, 25px 25px #9f191e, 26px 26px #9f191e, 27px 27px #9f191e, 28px 28px #9f191e, 29px 29px #9f191e, 30px 30px #9f191e;
}
.social-nav .pinterest:hover {
    color: #CB2026;
}


/*social icon top*/



/*product item */



.product-item {
    padding: 15px;
    background: #fff;
    margin-top: 20px;
    position: relative;
    border: 1px solid #ddd;
}
.product-item:hover {
    box-shadow: 0px 0px 13px 0px #000;
}
.product-item:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
    font-size: 0;
    line-height:0;
}

.product-item h3{
    height: 32px!important;
    line-height: 16px;
    overflow: hidden;
    font-weight: bold;
}
.product-item h3 a{
  text-decoration:none;
}

.sticker {
    position: absolute;
    top: 0;
    left: 0;
    width: 63px;
    height: 63px;
}
.sticker-new {
    background: url(http://keenthemes.com/assets/bootsnipp/new.png) no-repeat;
    left: auto;
    right: 0;
}
.pi-img-wrapper {
    position: relative;
}
.pi-img-wrapper img {
    width:100%; 
}

.pi-img-wrapper div {
    background: rgba(0,0,0,0.3);
    position: absolute;
    left: 0;
    top: 0;
    display: none;
    width: 100%;
    height: 100%;
    text-align: center;
}
.product-item:hover>.pi-img-wrapper>div {
    display: block;
}
.pi-img-wrapper div .btn {
    padding: 3px 10px;
    color: #fff;
    border: 1px #fff solid;
    margin: -13px 5px 0;
    background: transparent;
    text-transform: uppercase;
    position: relative;
    top: 50%;
    line-height: 1.4;
    font-size: 12px;
}
.product-item .btn:hover {
    background: #e84d1c;
    border-color: #c8c8c8;
}

.product-item h3 {
    font-size: 14px;
    font-weight: 300;
    padding-bottom: 4px;
    text-transform: uppercase;
}
.product-item h3 a {
    color: #3e4d5c;
}
.product-item h3 a:hover {
    color: #E02222;
}
.pi-price {
    color: #e84d1c;
    font-size: 18px;
    float: left;
    padding-top: 1px;
}
.product-item .add2cart {
    float: right;
    color: #a8aeb3;
    border: 1px #ededed solid;
    padding: 3px 6px;
    text-transform: uppercase;
}
        .product-item .add2cart:hover {
            color: #fff;
            background: #e84d1c;
            border-color: #e84d1c;
        }


/*product item */


/*footer section design*/

.footer-top-layout {
  background: #1c1c1c none repeat scroll 0 0;
  color: #ffffff;
  padding: 40px 0;
}
.OurBlog {
  margin-bottom: 32px;
  text-align: center;
}
.footer-top-layout h4 {
  color: #ffffff;
  font-size: 18px;
  margin-bottom: 21px;
}
.OurBlog > p {
  color: #888888;
}
.post-blog-date::after {
  background: #ffffff none repeat scroll 0 0;
  bottom: 0;
  content: "";
  height: 4px;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  width: 50px;
}
.post-blog-date {
  padding-bottom: 25px;
  position: relative;
}

body {
  color: #666666;
  font-family: "Open Sans",sans-serif;
  line-height: 24px;
}

.footer-top-layout [class*="col-sm-"]:first-child {
  padding: 0;
}
.footer-top-layout [class*="col-sm-"] {
  border-right: 2px solid #333333;
  padding: 0 0 0 28px;
  
}
.footer-top-layout {
  color: #ffffff;
}
.footer-col-item {
  min-height: 140px;
}

address {
  color: #545454;
}


.footer-top-layout [class*="col-sm-"]:last-child {
  border-right: medium none;
} 
.footer-top-layout {
  color: #ffffff;
}
body {
  color: #666666;
  font-family: "Open Sans",sans-serif;

}
.footer-top-layout h4 {
  color: #ffffff;
  font-size: 18px;
  margin-bottom: 21px;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  color: #333333;
  font-family: "Roboto",sans-serif;
  font-weight: 500;
  line-height: 1.1;
  margin-top: 0;
}
body {
  color: #666666;
  font-family: "Open Sans",sans-serif;
  line-height: 24px;
}
.footer-col-item .item-contact a {
  color: #545454;
  display: inline-block;
  margin-bottom: 7px;
  width: 100%;
}

.footer-col-item .item-contact a .link-id {
  color: #ffffff;
  margin-left: 0;
  margin-right: 6px;
}
.footer-col-item span {
  margin-left: 7px;
}
.footer-col-item .item-contact a {
  color: #545454;
}

.footer-top-layout h4 {
  color: #ffffff;
  font-size: 18px;
  margin-bottom: 21px;
}
.signUpNewsletter {
  position: relative;
}
.signUpNewsletter .gt-email {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: 1px solid #666666;
  border-radius: 0;
  color: #ffffff;
  height: 52px;
}
.signUpNewsletter .btn-go {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border-color: #666666;
  border-style: solid;
  border-width: 0 0 0 1px;
  bottom: 0;
  color: #ffffff;
  font-size: 16px;
  position: absolute;
  right: 0;
  text-transform: uppercase;
  top: 0;
  width: 52px;
}
.footer-bottom-layout {
  /*background: #222222 none repeat scroll 0 0;*/
  background:#2e3092;
  padding: 20px 0;
  text-align: center;
}

.socialMedia-footer {
  margin-bottom: 20px;
}
.socialMedia-footer > a {
  display: inline-block;
  margin: 0 8px;
}
.footer-bottom-layout {
  text-align: center;
}




/*footer section design*/




/*our customer */


.team-sec{float: left;width: 100%;}
.team .photo {width: 250px; height: 250px; display: inline-block; overflow: hidden; position: relative; }
.photo-shadow {position: absolute; z-index: -1; top: 12px; left: 16px; bottom: -10px; border: 1px solid #E3E3E3; height: 250px; width: 246px; background: #fff; }
.col-item{position: relative;}
.team{margin-top: 60px;}
.team .photo img{width: 100%;    vertical-align: middle;position: relative;}
.social-connect{margin-top: 13px;}
.social-connect a{background: white;}
.info{margin-top: 22px;}
.info .name{font-size: 18px;font-weight: 600;margin-bottom: 2px;}
.info .degination{font-size: 16px;font-weight: 300;font-style: italic;color: #8B8B8B;}
.social-connect a{ display: inline-block; border: 1px solid #E3E3E3; font-size: 14px; color: #919191; width: 24px; height: 24px; text-align: center; line-height: 24px;margin-right: 4px;}
.social-connect a .fa{margin: 0;}
.social-connect a:hover{background-color: #4EBEE9;color: #fff;} .carousel-line{    border: 1px solid #ddd; height: 320px; position: absolute; bottom: -90px; width: 110%; left: -5.5%;}
.carousel-line > .controls{position: absolute; bottom: -16px; left: 50%; margin-left: -50px; background: #fff; padding: 0px 20px; color: #000;}
.carousel-line > .controls > a{    color: #868686; font-size: 24px; font-weight: 300;}





/*our customer */
------


